body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a{
  color: white;
}
a:hover{
  color: white;
  text-decoration: none;
}
.header{
  height: 80vh;
  width:100%;
  background: url("image/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav{
  padding:10px 25px ;
  width: 100%;
  margin-bottom: 80px;
}
.logo{
  width: 40px;
  border-radius: 4px;
}
#menu{
  display: none;
  float:right;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  border:1px solid white;
}
#menu:hover{
  background:white;
  color: black;
}
.mobile__menu{
  background: #05a081 ;
  
  height: 100vh;
  width: 200px;
  text-align: center;
  transition: .5s ease-in-out;
  position:fixed;
  top:0px;
  left: -200px;
}
.mobile__menu ul{
  list-style: none;
}
.mobile__menu li{
  margin: 20px;
  font-size: 30px;
}
.mobile__menu li:nth-child(1){
  margin-top: 150px;
}
.mobile__menu li a:hover{
 color:black;
 transition: .3s linear;
}

.navright{
  float: right;
}

.navright a{
  padding-left: 20px;
}

.navright button{
  background-color: #05a081;
  border: none;
  color: white;
  border-radius: 2px;
}

.navright button:hover{
  background-color: #21c3a3;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
form{
  display: flex;
  flex-direction: row;
 
}

.content input{
  width: 150%;
  height: 14%;
  padding: 15px;
  border-radius: 4px;
  border: none;
  margin-top: 4%;
  font-size: 20px;
}

.content button{
  width: 15%;
  margin-left: 2%;
  padding: 8px;
  font-size: 20px;
  background-color: #05a081;

  border: none;
  color: white;
  border-radius: 2px;
}

.content button:hover{
  background-color: #21c3a3;
}

.photos{
  color: grey;
  padding:1%;
  /*  */
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right:1%;
}

.row img{
  width:24%;
  height: 300px;
  margin-left: 1%;
  margin-top: 1%;
}

.row img:hover{
  opacity: 0.6;
}

.footer{
  /* height: 40vh; */
  margin-top: 30px;
  background-color: #232a34;
  padding-left: 100px;
  padding-top: 50px;
  color: #dddddd;
  display: flex;
}

.footer>div{
  display: inline-block;
  width: 22vw;
}

.footer button{
  color:black;
  background-color: #dddddd;
  border:none;
  border-radius:3px;
}

.footer button:hover{
  background-color: white;
}

.social-links a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  color: #232a34;
  text-align: center;
  margin-right: 5px;
}

.social-links i{
  padding-top: 7px;
}

.social-links a:hover{
  color: white;
  background-color: black;
}

ul li{
  list-style-type: none;
  font-size: 15px;
  color: #dddddd;
}

ul{
  padding-left: 0 !important;
}

li:hover{
  color: white;
}

.two li , .three{
  font-size: 15px;
}

#loading{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: none;
}

/* modal-boxes */
.modal-box{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-box-content > img{
  margin: 0 !important;
  border: 2px solid rgb(35, 42, 52);
  width: 100% !important;
}

.modal-box-content{
  position: absolute;
  text-align: center;
  width: 24%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1s ease-in-out 0s forwards;
}

@keyframes fadeIn {
  from { 
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-box-content img:hover{
  opacity: 1;
}

.close-box{
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  font-weight: 900 !important;
  font-size: 2rem !important;
  background-color: black;
  padding: 0 14px;
}

.close-box:hover{
  color: red;
}



@media screen
 and (max-device-width: 500px)
 and (min-device-width: 100px) {
 
  .content{
    height: 25vh !important;
    margin-top: 100px;
  }
  .content p{
    display:none;
  }
  .photos{
    flex-direction: column;
  }
  .content input{
    width: 100%;
    height: 18%;
    padding: 12px;
    font-size: 20px;
  }

  .content button{
    width: 15%;
    
    padding: 8px;
    font-size: 20px;
    background-color: #05a081;
    background-color: #05a081;
    border: none;
    color: white;
    border-radius: 2px;
  }
 
  .navright,span{
    font-size: 30px;
  }
/*   
  .row img {
    width: 48% !important;
    height: 320px !important;
    margin-left: 1%;
    margin-top: 1%;
  } */
  .modal-box-content > img{
    margin: 0 !important;
    border: 2px solid rgb(35, 42, 52);
    width: 100% !important;
    height: 100% !important;
  }
  .modal-box-content{
    width: 60%;
    height: 400px;
  }
 

}
@media(max-width:820px){
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.one,.two,.three,.four{
    margin-top: 3%;
}
}
@media(max-width:750px){
  .pexelsText{
    display: none;
  }
  form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form .search{
    margin-top: 5px;
  }
  .navright{
    display: none;
  }
  #menu{
    display: block;
  }
}
@media(max-width:380px){
  .row{
    flex-direction: column;
  }
  .row img{
    width: 100%;
  }
}